.cart-widget_logo{
    width: 35px;
}

.cart-widget{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cart-widget > h4 {
    font-size: small;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    

}