.nav-link {
    position: relative;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
  }
  
.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #854798;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
.nav-link:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .navbar {
    background: #1E1E24;
    
  }

.brand{
  font-weight: 400;
  font-size: 1.5rem;
}